h1 {
    font-size: 50px !important;
    padding-top: 40px;}

h2 {
    font-size: 45px !important;
    }
h3 {
    font-size: 24px !important;

}  



p {
    font-size: 18px !important;
    line-height: 1.5 !important;
    margin-bottom: 1rem !important;
    opacity: 0.7 !important;
}

li {
        font-size: 18px !important;
        line-height: 1.5 !important;
        margin-bottom: 1rem !important;
        opacity: 0.7 !important;
}


.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.first {
    margin-top: 10% !important;
}

    body {
    margin: 0;
}

.contact {
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.p-2 {
    padding: 0.5rem !important;
}
.quala {
    color: #1E8F76 !important;
}

a.navbar-brand{
    color: #1E8F76 !important;
    font-weight: bold;
}

.footer {
display: inline-block;
justify-content: center;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}

.linkedin {
max-width: 3%;
margin-right: 20px;
}

.git {
    max-width: 3%;
    margin-left:20px;
}

.mail {  
    max-width: 3%;
    margin-left:20px;   
}

.danitwo{
    display: inline-block !important;
    max-width: 80% !important;
    
}
.contact-link {
    color: white !important;
}
.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #1E8F76;
    box-shadow: #f5f2fe;
    color: white;
    margin: 20px;
  }

@media (max-width: 576px) {
      img {
        display: none;
    }
.danitwo{
        display: inline-block !important;
        max-width: 40% !important;   
}
.git{
        display: inline-block !important;
        max-width: 5% !important;
        
}

.mail{
    display: inline-block !important;
    max-width: 5% !important;
    
  }

.linkedin{
        display: inline-block !important;
        max-width: 5% !important;
        
      }
      .content-button{
          display: flex;
          justify-content: center;
      }
    }