h1 {
    font-size: 50px;
    padding-top: 40px;}

h2 {
    font-size: 45px;
    }
h3 {
    font-size: 24px;

}  



p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    opacity: 0.7;
}

li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 1rem;
        opacity: 0.7;
}


.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.first {
    margin-top: 10%;
}

    body {
    margin: 0;
}

.contact {
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.p-2 {
    padding: 0.5rem;
}
.quala {
    color: #1E8F76 ;
}

a.navbar-brand{
    color: #1E8F76 !important;
    font-weight: bold;
}

.footer {
display: inline-block;
justify-content: center;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}

.linkedin {
max-width: 3%;
margin-right: 20px;
}

.git {
    max-width: 3%;
    margin-left:20px;
}

.mail {  
    max-width: 3%;
    margin-left:20px;   
}

.danitwo{
    display: block;
margin-left: auto;
margin-right: auto;
    max-width: 80%;
    
}
.contact-link {
    color: white;
}
.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #1E8F76;
    box-shadow: #f5f2fe;
    color: white;
    margin: 20px;
  }


@media (max-width: 576px) {
img {
        display: none;
    }

.danitwo{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.git{
        display: inline-block;
        max-width: 5%;
        
}

.mail{
    display: inline-block;
    max-width: 5%;

}

.linkedin{
        display: inline-block;
        max-width: 5%;
}

.content-button{
        display: flex;
        justify-content: center;
}
    }